---
title: Grunt Foundation Boilerplate
description: A very simple boilerplate to jump-start your web development.
---

<div class="row">

  <div class="large-12 columns">
    <h1>Grunt Foundation Boilerplate</h1>
    <p><i>This project is a work in progress</i></p>
    <p>Welcome to my responsive boilerplate! I've created this template for myself to help jump-start my web development process. This boilerplate runs on <a href="http://gruntjs.com/">Grunt</a> and <a href="http://bower.io/">Bower</a> while utilizing the following libraries:</p>
    <ul>
      <li><a href="http://assemble.io/">Assemble</a></li>
      <li><a href="http://foundation.zurb.com/">Foundation</a></li>
      <li><a href="http://requirejs.org/">RequireJS</a></li>
      <li><a href="http://modernizr.com/">Modernizr</a></li>
      <li><a href="http://jquery.com/">jQuery</a></li>
    </ul>
    <a href="https://github.com/miguelsolorio/grunt-foundation-boilerplate.git" class="small button">View Repo on Github</a>
  </div>

  <div class="large-12 columns">
    <h1>File Structure</h1>
    <h1><small>HTML</small></h1>
    <p>All pages can be found under <span class="secondary label">src > template > pages</span> which use the default layout template found under <span class="secondary label">src > template > layouts > default.hbs</span></p>
    <h1><small>SASS</small></h1>
    <p>All CSS dependencies are imported at <span class="secondary label">src > css > main.scss</span></p>
    <h1><small>JavaScript</small></h1>
    <p>RequireJS handles all dependencies and are defined at <span class="secondary label">src > js > config.js</span> and included at <span class="secondary label">src > js > app.js</span></p>
    <h1>Build for Production</h1>
    <h1><small>Grunt Build</small></h1>
    <p>When you're ready to build for production simply run: <span class="label">grunt build</span> and your files will be minified under the <span class="secondary label">_public</span> directory.</p>
  </div>
</div>